/* Popup Overlay Styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
    padding: 20px; /* Add padding to give space from edges */
    z-index: 1000;
  }
  
  
  .popup-content {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    position: relative;
  }
  
  .popup-content h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .form-buttons button {
    background: #4eacc2; /* Light blue color */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .form-buttons button:hover {
    background: #4682B4; /* Darker blue on hover */
  }
  
  .form-buttons button:disabled {
    background: #b0e0e6; /* Lighter blue when disabled */
    cursor: not-allowed;
  }
  