<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Transactions</mat-card-title>
        <!-- Filter Buttons -->
        <div class="filter-container">
          <div class="filter-buttons">
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" (dateChange)="filterByDate($event.value)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
              <mat-label>Tiers</mat-label>
              <mat-select (selectionChange)="filterByTiers($event.value)">
                <mat-option *ngFor="let tier of tiers" [value]="tier">{{ tier }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Spinner while loading -->
        <div *ngIf="isLoading" class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>

        <div class="table-responsive m-t-16" *ngIf="!isLoading">
          <table mat-table [dataSource]="filteredTransactions" class="w-100">
            <!-- Define columns here -->
            <ng-container matColumnDef="n°">
              <th mat-header-cell *matHeaderCellDef>Numéro</th>
              <td mat-cell *matCellDef="let transaction; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.date | date }}</td>
            </ng-container>

            <ng-container matColumnDef="paymentMode">
              <th mat-header-cell *matHeaderCellDef>Mode de paiement</th>
              <td mat-cell *matCellDef="let transaction">credit card</td>
            </ng-container>

            <ng-container matColumnDef="Montant">
              <th mat-header-cell *matHeaderCellDef>Montant</th>
              <td mat-cell *matCellDef="let transaction">
                <ng-container *ngIf="transaction.type === 'debit'; else credit">
                  -{{ transaction.amount }}$
                </ng-container>
                <ng-template #credit>
                  +{{ transaction.amount }}$
                </ng-template>
              </td>
            </ng-container>

            <ng-container matColumnDef="tiers">
              <th mat-header-cell *matHeaderCellDef>Tiers</th>
              <td mat-cell *matCellDef="let transaction">
                {{ tierMap[transaction.tiers] || 'Loading...' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.notes }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let transaction">
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="modifierTransaction(transaction)">
                    <mat-icon>edit</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item (click)="supprimerTransaction(transaction)">
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="button-container">
  <button mat-fab color="primary" class="crediter-button" (click)="openAddCreditDialog()" matTooltip="Crediter" matTooltipPosition="left">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-fab color="primary" class="debiter-button" (click)="openAddDebitDialog()" matTooltip="Debiter" matTooltipPosition="left">
    <mat-icon>remove</mat-icon>
  </button>

  <button mat-fab color="primary" class="virement-button" (click)="openAddVirementDialog()" matTooltip="Virement" matTooltipPosition="left">
    <mat-icon>swap_horiz</mat-icon>
  </button>
</div>
