<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Transactions</mat-card-title>
        <div class="table-responsive m-t-16">
          <table mat-table [dataSource]="dataSource" class="w-100">

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{ element.date }}</td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>

            <!-- Payment Mode Column -->
            <ng-container matColumnDef="paymentMode">
              <th mat-header-cell *matHeaderCellDef>Mode de paiement</th>
              <td mat-cell *matCellDef="let element">{{ element.paymentMode }}</td>
            </ng-container>

            <!-- Tiers Column -->
            <ng-container matColumnDef="tiers">
              <th mat-header-cell *matHeaderCellDef>Tiers</th>
              <td mat-cell *matCellDef="let element">{{ element.tiers }}</td>
            </ng-container>

            <!-- Categories Column -->
            <ng-container matColumnDef="categories">
              <th mat-header-cell *matHeaderCellDef>Categories</th>
              <td mat-cell *matCellDef="let element">{{ element.categories }}</td>
            </ng-container>

            <!-- Ref Column -->
            <ng-container matColumnDef="ref">
              <th mat-header-cell *matHeaderCellDef>Ref</th>
              <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
            </ng-container>

            <!-- Debit Column -->
            <ng-container matColumnDef="debit">
              <th mat-header-cell *matHeaderCellDef>Debit</th>
              <td mat-cell *matCellDef="let element">{{ element.debit }}</td>
            </ng-container>

            <!-- Credit Column -->
            <ng-container matColumnDef="credit">
              <th mat-header-cell *matHeaderCellDef>Credit</th>
              <td mat-cell *matCellDef="let element">{{ element.credit }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="modifierTransaction(element)">
                    <mat-icon>edit</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item (click)="supprimerTransaction(element)">
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
