<router-outlet></router-outlet>
<app-debiter-popup *ngIf="isDebiterPopupOpen"></app-debiter-popup>
<app-crediter-popup *ngIf="isCrediterPopupOpen"></app-crediter-popup>
<app-virement-popup *ngIf="isVirementPopupOpen"></app-virement-popup>

<div class="container">
    <h4>Importer un relevé bancaire</h4>
    <button (click)="togglePopup()">Importer un relevé</button>
  
    <app-relever-popup *ngIf="showPopup" 
                       (fileImported)="onFileImported($event)" 
                       (popupClosed)="togglePopup()">
    </app-relever-popup>
  
    <div *ngIf="importedFile">
      <h2>Fichier importé : {{ importedFile.name }}</h2>
    </div>
  </div>