<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <img src="./assets/images/logos/favicon.png" width="60px" alt="logo" />
            <span class="brand-name">udgetPro</span>
          </div>
          <form (ngSubmit)="onLogin()" #loginForm="ngForm">
            <div class="form-group">
              <label for="username">Email:</label>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required class="form-control" />
              <div *ngIf="loginForm.submitted && !loginForm.controls['username'].valid" class="text-danger">
                Username is required.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required minlength="6" class="form-control" />
              <div *ngIf="loginForm.submitted && !loginForm.controls['password'].valid" class="text-danger">
                Password (minimum 6 characters) is required.
              </div>
            </div>
            <!-- Error message -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
          </form>
          <span class="d-block f-w-500 text-center m-t-24">Vous n'avez pas de compte?
            <a [routerLink]="['/authentification/register']" class="text-decoration-none text-primary f-w-500 f-s-14">S'inscrire</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
