.dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(36, 47, 195);

  }
  
  .dialog-content {
    font-family: Arial, sans-serif;
  }
  
  .bank-account-details {
    margin-bottom: 1rem;
  }
  
  .spinner-container {
    text-align: center;
  }
  
  .spinner {
    margin: 0 auto;
  }
  
  .transactions-container {
    margin-top: 1.3rem;
  }
  .total-container {
    width: 95%; // Full width to ensure right alignment
    display: flex;
    justify-content: flex-end; // Align total to the right
    margin-bottom: 10px;
  }

  .total-amount {
    font-weight: bold;
  }
  .transactions-scrollable {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .transactions-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-item {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .debit {
    background-color: #fdd;
  }
  
  .credit {
    background-color: #dfd;
  }
  
  .transaction-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background-color: #007bff;
    color: white;
  }
  